.wow {
  background-color: #dee5ff;
  border-radius: 50px;
  font-size: 16px;
  display: inline-block;
  font-weight: 500;
  padding: 6px 22px 6px 6px;
  margin-bottom: 15px;
}

.wlcm {
  font-size: 72px;
  background: -webkit-linear-gradient(#3572c5, #23a356);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.supt {
  font-size: 48px;
  background: -webkit-linear-gradient(#1e45b4, #1e45b4);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
.subt {
  font-size: 48px;
  background: -webkit-linear-gradient(#7da5d1, #7da5d1);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
.tpw {
  font-size: 32px;
  background: -webkit-linear-gradient(#4882aa, #45b17e);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
